@font-face {
    font-family: "Unica";
    src: url("fonts/NeueHaasUnica-Regular.ttf");
    font-weight: 400;
}

body {
    margin: 0 0 0 0;
    padding: 0;
    text-rendering: geometricPrecision;
    font-family: Unica;
    font-size: 1em;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* MENU NAV */

.header {
    width:100vw;
    top:0;
    position:fixed;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0.5em;
    font-size: 1em;
    z-index:3;
}

.menu-container {
    display:none;
    position:fixed;
    top:0;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background: white;
    z-index:2;
}

.menu-element {
    display:flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    width:50vw;
    height:50vh;
    text-align: center;
    
}

/* HOME PAGE */

.home-img {
    height:100vh;
    width:100vw;
    background-image: url("images/desert.png");
    background-size: cover;
}

.footer {
    padding:1em;
    font-size: 0.8em;
}

/* PROJECTS */

.project-container {
    width:100vw;
    height:100vh;
    margin-top: 3em;
}

.project-element {
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding:1em;
}

.project-element img {
    max-width: 70%;
    padding:3em;
}

.project-caption {
    font-size: 0.8em;
}

/* ABOUT PAGE */

@media only screen and (min-device-width : 1024px) { 

    .project-container {
        width:100vw;
        display:flex;
        justify-content: center;
        align-items: flex-start;
    }

    .project-element {
        width:50vw;
    }


}